﻿body {
    margin: auto;
    padding: 0;
    background-color: #E0E0E0;
}
.block {
    position: relative;
    margin: 20px auto 0;
    width: 1000px;
    height: 680px;
    background: linear-gradient(0deg, #E0E0E0,#E0E0E0);
}

    .block:before, .block:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 50s linear infinite;
    }

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.block:after {
    filter: blur(50px);
}


a {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

.div-hakk {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    padding: 10px;
}

.fa-instagram {
    background: #125688;
    color: white;
}

li {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    font-weight: 500;
}

.logo {
    color: white;
    width: 30px;
    height: 30px;
}

