﻿body {
    background-color: #E0E0E0;
    margin: auto;
    text-align: center;
}

.baslik_sol{
    width:20%;
    flex-grow:1;
    display:flex;
    padding: 10px 10px;
    
}
.baslik_sag {
    width: 80%;
    padding: 0 17% 0 0;
}
.baslik {
    align-items: center;
    display: flex;
}

.mp {
    display: flex;
    flex-wrap: nowrap;
    height: 458px;
    justify-content: space-between;
}
.metin {
    width: 95%;
    border: solid #FF6666;
    border-radius: 10px 0 0 10px;
    margin: 10px 10px;
    padding: 60px 0 0 0;
}
.panel {
    border: solid #FF6666 ;
    border-radius: 0 10px 10px 0;
    width: calc(50% - 10px);
    margin: 10px 10px ;
    width: 20%;
    padding: 60px 0 0 0;
}

ul#menu li {
    display: inline;
    
    border-radius: 10px 10px 0 0 ;
    padding: 11px;
    margin: auto;
}
li:hover {
    background-color: #E0E0E0;
}

ul {
    display: flex;
    flex-wrap: nowrap;
    background-color: #A0A0A0;
    height: 40px;

    justify-content: space-around;
}


.alt a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

.alt a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

.alt a:hover {
    color: red;
    background-color: transparent;
}

.alt a:active {
    color: yellow;
    background-color: transparent;
}
footer {
    display: flex;
    background-color: black;
    justify-content: center;
    //height: 50px;
    width:100%;
    color: white;
    position: absolute;
    bottom :0 ;
}